@import "../bower_components/knacss/sass/knacss.scss";
@import "../bower_components/bourbon/dist/_bourbon.scss";
@import "icons/*.png";
@import "icons-2x/*.png";
@include all-icons-sprites;

@include font-face(Aller, 'fonts/Aller_Rg');
@include font-face(Aller, 'fonts/Aller_Bd', bold);
@include font-face(Aller, 'fonts/Aller_Lt', 100);

/* ----------------------------- */
/* VARIABLE / GLOBALE
/* ----------------------------- */

$sprites: sprite-map("icons/*.png");
$sprites2x: sprite-map("icons-2x/*.png");

a {
	cursor: pointer;
}

a.button, div.button {
	border: 1px #FFF solid;
	background: transparent;
	padding: $medium-value*0.75 $medium-value*2;
	font-size: 13px;
	color: $base-color-second;
	text-decoration: none;
	text-transform: uppercase;
	@include transition (all 0.3s ease);
	display: inline-block;
	cursor:pointer;
}

@media (max-width: 360px) {
	a.button, div.button {
		display: block;
	}
}

a.button:hover, div.button:hover, a.button:focus, div.button:focus {
	border-color: $base-color-second;
	background-color: $base-color-second;
	color: $base-color;
	@include transition (all 0.3s ease);
}

.strong {font-weight:bold;}

[class^="icons-"], 
[class*=" icons-"] { 
  background-repeat: no-repeat;
  display: inline-block;
  background-image: sprite-url($sprites);

  @media (-webkit-min-device-pixel-ratio: 1.5), 
		 (-o-min-device-pixel-ratio: 3/2), 
		 (min-device-pixel-ratio: 1.5) {
	background-image: sprite-url($sprites2x);
	background-size: ceil(image-width(sprite-path($sprites2x)) / 2) auto;
  }
}

.valign {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.valign-text {
	display: table-cell;
		text-align: center;
		vertical-align: middle;
}

.next, .prev {
	position: absolute;
	top: 0;
	width: 10%;
	height: 100%;
	background: transparent;
}

.prev {left: 0; cursor: w-resize !important;}
.next {right: 0; cursor: e-resize !important;}

/* ----------------------------- */
/* == #GLOBAL		             */
/* ----------------------------- */

html.skrollr-desktop {
  height: 100%;
  position: relative;
  width: 100%;
}

/* ----------------------------- */
/* == HEADER		             */
/* ----------------------------- */

header[id=header] {
	background: url('../images/miami-beach-instantgrave.jpg') no-repeat center center fixed;
  	background-size: cover;
	position: relative;
	color: $base-color-second;

	h1 {
		font-size: rem(96);
		width: 80%;
	}

	a.arrow-bottom {
		margin-top: $medium-value*3;
		display: table;

		img[class=arrow-bottom-img] {
			width: 50px;
			position: relative;
			@include animation(translate 0.75s ease-in-out infinite);
		}
	}

	a.arrow-bottom:hover, a.arrow-bottom:focus {
		img[class=arrow-bottom-img] {
			@include animation-play-state(paused);
		}
	}
}

@include keyframes(translate) {
  0% {
    @include transform(translateY(0px));
  }
  50% {
    @include transform(translateY(5px));
  }
}

/* ----------------------------- */
/* == NAVIGATION		         */
/* ----------------------------- */

nav[id=navigation] {
	width: 100%;
	text-align: center;
	background-color:#141414;
	padding: em(20);

	.logo {
		cursor: pointer;
	}
}

section[id=vision] {
	h1 {
		font-size: rem(64); 
		text-transform: none;
	}

	p {font-size: rem(32)}
}

/* ----------------------------- */
/* == events 			         */
/* ----------------------------- */

section[id=events] {

	@include user-select(none);

	.eventSlider {
		position: relative;
		top: 0;
		left: 0;
		overflow: hidden;
		background-color:$base-color;
		width: 100%;
		height: auto;

		.slider {
			width: 100%;
			height: auto;

			.item {
				float:left;
				max-width: 1120px;
				width: 100%;

				.intro {
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.9);
					color: $base-color-second;
					z-index: 1;
					position: absolute;

					h1 {
						font-size:rem(80); // 80px = 5rem
						margin: 0;
					}
					p { margin: 0}
					a.button {margin-top: $medium-value;}
				}

				img {
					position: relative;
					top: 0;
					left: 0;
					max-width: 1120px;
					width: 100%;
					margin: 0 auto;
					height: auto;
				}
			}
		}
	}

	.iosSliderButtons {
		position: absolute;
		bottom: $medium-value;
		z-index:2;
	}

	.iosSliderButtons .button {
		display: inline-block;
		opacity: 0.5;
		margin: 0 $tiny-value;
		font-size:rem(16); // 
	}

	.iosSliderButtons .selected {
		background-color: #FFF;
		opacity: 1;
		color:$base-color;
	}
}

/* ----------------------------- */
/* == SERVICES 			         */
/* ----------------------------- */

section[id=services] {

	.grid > * {margin-left:0;}
	div.zone {

		position: relative;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		padding-left: 60px;
		padding-right: 2%;
		margin-bottom: 40px;

		h5 {
			font-weight: 100;
			text-transform: none;
			margin-bottom: 0;
		}
	}
	div.zone:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 70px;
		height: 100px;
		background: transparent url(https://d3ptyyxy2at9ui.cloudfront.net/85ce95838acfcf16223fc60c1251c1b6.png) 0 3px no-repeat;
	}

	div.zone.icon-visuel:before, div.zone.icon-challenge:before, div.zone.icon-event:before,
	div.zone.icon-conv:before, div.zone.icon-stand:before, div.zone.icon-light:before {width: 45px;}

	div.zone.icon-visuel:before {
		background: transparent url('../images/icon_5968.svg') 0 3px no-repeat;
	}

	div.zone.icon-challenge:before {
		background: transparent url('../images/icon_14893.svg') 0 3px no-repeat;
	}

	div.zone.icon-event:before {
		background: transparent url('../images/icon_1194.svg') 0 3px no-repeat;
	}

	div.zone.icon-conv:before {
		background: transparent url('../images/icon_18704.svg') 0 3px no-repeat;
	}

	div.zone.icon-stand:before {
		background: transparent url('../images/icon_29508.svg') 0 3px no-repeat;
	}

	div.zone.icon-light:before {
		background: transparent url('../images/icon_15445.svg') 0 3px no-repeat;
	}
}

/* ----------------------------- */
/* == CONTACT 			         */
/* ----------------------------- */

section[id=contact] {
	text-align: center;
	background: url('../images/soiree-instant-grave.jpg') no-repeat center center fixed;
  	background-size: cover;
	color: $base-color-second;

	a[class=button]:hover, a[class=button]:focus {color: #2c3e50;}
}

/* ----------------------------- */
/* == CLIENTS 			         */
/* ----------------------------- */

section[id=clients] {

	background-color: $base-color-second;

	div {display: inline-block; vertical-align: middle; margin: $small-value;}

	div.icons-etam {
		@include sprite-background(etam);
	}
	div.icons-laurent {
		@include sprite-background(laurent);
	}
	div.icons-belfor {
		@include sprite-background(belfor);
	}
	div.icons-verisure {
		@include sprite-background(verisure);
	}
	div.icons-stetienne {
		@include sprite-background(stetienne);
	}
}

/* ----------------------------- */
/* == NEWSLETTER 		         */
/* ----------------------------- */

section[id=newsletter] {
	text-align: center;
	background-color:#3498db; 

	label {
		font-size: 18px;
		font-weight: 100;
		display: block;
		color: $base-color-second;
		margin-bottom: $medium-value;
		cursor: text;
	}

	input[type=email], button {
		height: 55px;
		border:none;
		border:1px solid #FFF;
	}

	input[type=email] {
		width: 350px;
		padding: $medium-value/2 $medium-value;		
	}

	button {
		width: 150px;
		text-transform: uppercase;
		background: transparent;
		color: $base-color-second;
		@include transition (all 0.3s ease);
	}

	button:hover, button:focus {
		background: #FFF;
		color:#34495e;
		@include transition (all 0.3s ease);
	}
}

/* ----------------------------- */
/* == FOOTER 			         */
/* ----------------------------- */

footer[id=footer] {
	background-color:#141414;
	color: white;
	padding-bottom: $small-value;
	position: relative;
	.button-link { cursor: pointer;}

	span[itemprop] {
		font-size: 12px;
		color: #999;
	}

	.data, #meta {
		margin-top: $small-value*3;
	}

	#meta {
		border-top: 1px solid #333;
		padding-top: $small-value*3;
		font-family: Arial,sans-serif;
		font-size: 11px;
		height: 64px;

		> div {
			float: right;
			width: 80%;

			a {
				float: right;
				color: #999;
				margin-left: 30px;
				text-decoration: none;
				@include transition (all 0.3s ease);
			}

			a:hover, a:focus {
				color: #FFF;
				.icon-footer{fill:#FFF;}
			}
		}

		> span {
			color: #999;
			text-align: left;
			float: left;
			width: 20%;
		}
	}
	
}

/* ----------------------------- */
/* == DATA PROJET	             */
/* ----------------------------- */

//#homepage {display: none}

#projet-page {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
	text-align: left;

	section[data-projet-page]{display: none;}

	nav.back {
		position: absolute;
	}

	section.gallery {
		position: absolute;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $base-color;
		width: 65%;

		div.content {
			position: absolute;
			z-index: 9;
			padding-left: $medium-value;
			width: 100%;

			.gallery-back {
				z-index: 10;
				display: none;
				fill: #FFF !important;
			}

			h1 {
				color: #FFF;
				font-size: 6rem;
				margin: 0;
				margin-bottom: $small-value;
			}

		}
		.GalerieSlider {
			width: 100% !important;
			height: 100% !important;

			.slider {
				width: 100%;
				height: 100%;

				.item {
					float: left;
					width: 100%;
					height: 100%;

					img {
						width: 100%;
						height: auto;
					}
				}

				.item1, .item2, .item3, .item4, .item5 {background-size: cover; background-repeat: no-repeat; background-position: center center;}
			}
		}
	}

	section.text {
		padding: $medium-value;
		background-color:white;
		margin-left: 65%;
		position: relative;

		h2 {
			font-size: 4.5rem;
			display: inline-block;
			margin-top: 0;
		}

		p {font-size:1.6rem;}

		nav {
			position: absolute;
			bottom:$small-value;
			right: $small-value;
			div.button {border: 1px $base-color solid;}
			div {text-decoration: none; color:$base-color; font-size:1.1rem;}
			div:hover, div:focus {color:#FFF; background-color:$base-color;}
		}
	}

	section[data-projet-page=Incentive] .item1 {background: transparent url('../images/projet/1/amb1.jpg')}
	section[data-projet-page=Incentive] .item2 {background: transparent url('../images/projet/1/amb2.jpg')}
	section[data-projet-page=Incentive] .item3 {background: transparent url('../images/projet/1/amb3.jpg')}
	section[data-projet-page=Incentive] .item4 {background: transparent url('../images/projet/1/amb4.jpg')}
	section[data-projet-page=Incentive] .item5 {background: transparent url('../images/projet/1/amb5.jpg')}
	section[data-projet-page=Incentive] .item4 {background: transparent url('../images/projet/1/amb6.jpg')}
	section[data-projet-page=Incentive] .item5 {background: transparent url('../images/projet/1/amb7.jpg')}
	section[data-projet-page=Incentive] .item5 {background: transparent url('../images/projet/1/amb8.jpg')}

	section[data-projet-page=Corporate] .item1 {background: transparent url('../images/projet/2/amb1.jpg')}
	section[data-projet-page=Corporate] .item2 {background: transparent url('../images/projet/2/amb2.jpg')}
	section[data-projet-page=Corporate] .item3 {background: transparent url('../images/projet/2/amb3.jpg')}
	section[data-projet-page=Corporate] .item4 {background: transparent url('../images/projet/2/amb4.jpg')}
	section[data-projet-page=Corporate] .item5 {background: transparent url('../images/projet/2/amb5.jpg')}

	section[data-projet-page=Convention] .item1 {background: transparent url('../images/projet/3/amb1.jpg')}
	section[data-projet-page=Convention] .item2 {background: transparent url('../images/projet/3/amb2.jpg')}
	section[data-projet-page=Convention] .item3 {background: transparent url('../images/projet/3/amb3.jpg')}
	section[data-projet-page=Convention] .item4 {background: transparent url('../images/projet/3/amb4.jpg')}
	section[data-projet-page=Convention] .item5 {background: transparent url('../images/projet/3/amb5.jpg')}
	section[data-projet-page=Convention] .item4 {background: transparent url('../images/projet/3/amb6.jpg')}
	section[data-projet-page=Convention] .item5 {background: transparent url('../images/projet/3/amb7.jpg')}

	section[data-projet-page=Animation] .item1 {background: transparent url('../images/projet/4/amb1.jpg')}
	section[data-projet-page=Animation] .item2 {background: transparent url('../images/projet/4/amb2.jpg')}
	section[data-projet-page=Animation] .item3 {background: transparent url('../images/projet/4/amb3.jpg')}
	section[data-projet-page=Animation] .item4 {background: transparent url('../images/projet/4/amb4.jpg')}
	section[data-projet-page=Animation] .item5 {background: transparent url('../images/projet/4/amb5.jpg')}

}

/* ----------------------------- */
/* == LOADING 	            	 */
/* ----------------------------- */

.js .textjs, .no-js .textnojs, .textie {display:none;}
.no-js .textjs, .lt-ie9 .textie {display:block;}

#loader {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:1999;
	background:#141414;
	text-align:center;
	color:white;

	 div > img {
	 	margin-top: 25%; 
	 }

	 p { font-size:12px}
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	@include user-select(none);
}

.pace-inactive {
 	display: none;
}

.pace .pace-progress {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 20px;
	background: #e73181;

	@include transition (transform 0.3s, width 1s);
	@include transform(translateY(-50px));
}

.pace.pace-active .pace-progress {
  @include transform(translateY(0));
}


/* ----------------------------- */
/* == ICON SVG 		             */
/* ----------------------------- */

.icon {
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
  fill: #525151;
  cursor: pointer;
}

.icon-close {
	top:$small-value;
	right:$small-value;
	font-size:1.4rem;
}

.icon-footer {
	fill: #999;
	display: inline-table;
	position: initial;
	width: 20px;

	svg {height: 1.6rem;vertical-align: middle;}
}

/* ----------------------------- */
/* == RESPONSIVE	             */
/* ----------------------------- */

@media (max-width: $medium-screen) {

	body { overflow-y:auto !important;}
		
	header[id=header] {
		h1 {
			font-size:rem(80);
			width: 100%;
		}
	}

	section[id=vision] {
		h1 {font-size: 3rem;}
		p {font-size: 1.8rem;}
	}

	#projet-page {

		section.gallery {
			position: relative;
			width: 100% !important;
		}

		section.gallery.nofullscreen {
			height: 600px !important;

			div.content {
				bottom:$medium-value !important;

				h1{width: 90%;} 
			}
		}

		section[class=text] {
			margin-left: 0;
			width: 100%;
			display: block;

			h2 {margin-bottom: 2rem;}

			nav {
				position: relative;
				margin-top:$medium-value;
				right:0;
				bottom:0;
				width: 100%;
				div.before, div.after { display:inline-block; width:49%;}
				div.button {text-align: center;margin-bottom: $medium-value;font-size: 1.4rem;}
			}
		}
	}
}



@media (max-width: 600px) {

	.grid3 > * {
		width: 50%;
	}

	header[id=header] h1 {
		font-size: 4rem;
	}

	section[id=events] {
		.iosSliderButtons {display:none !important;}
	}

	section[id=services] div.zone.icon-visuel:before, section[id=services] div.zone.icon-challenge:before, 
	section[id=services] div.zone.icon-event:before, section[id=services] div.zone.icon-conv:before, 
	section[id=services] div.zone.icon-stand:before, section[id=services] div.zone.icon-light:before { width:35px;}

	section[id=services] {
		div.zone {padding-left: 50px;padding-right: 0;}
	}

	section[id=vision] {
		h1 {font-size: 2.6rem;}
		p {font-size: 1.4rem;}
	}

	section[id=newsletter] {
		label {font-size: 1.6rem}

		input[type=email], button {
			width: 100%;
			display: block;
		}

		button {
			margin-top: $medium-value;
		}
	}

	section[id=contact] {
		a[class=button] {
			width: 100%;
		}
	}

	#projet-page {

		section.gallery.nofullscreen {
			height: 500px !important;
		}
	}

}


@media (max-width: $small-screen) {

	h1 { font-size: 2em;}

	header[id=header] {
		h1 {font-size: 37px;}
		h2 {font-size: 20px;padding: 2% 0 15% 0;}
		a.arrow-bottom {margin-top: 45px;}
	}

	section[id=events] .eventSlider .slider .item .intro h1 {
		font-size:rem(48);
	}

	section[id=clients] {
		div {
			margin: 2rem 0px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	#meta {
		> div, > span {
			width: 50%;
		}
	}

	#projet-page {
		section.gallery {

			div.content {
				h1 {font-size: 3em !important;}
			}
		}

		section.gallery.nofullscreen {
			height: 350px !important;
		}
	}

	#projet-page section[class=text] nav div.before, #projet-page section[class=text] nav div.after {
		display: block;
		width: 100%;
	}

}

@media (max-width: $tiny-screen) {

	h1 { font-size: 2rem;}
	p { font-size:1.2rem;}

	header[id=header] {
		padding: 0 1rem;
		h1 {font-size: 2.4rem;}
		h2 {display:none;}
	}

	section[id=vision] h1 {
		font-size: 1.7rem;
		p {font-size: 1.3rem;}
	}

	section[id=contact] p {display:none;}

	section[id=events] {
		p {display:none;}

		.eventSlider .slider .item .intro h1 {font-size: 2rem;}
	}

	section[id=newsletter] label {
		font-size: 1.4rem;
	}

	#projet-page {

		section.gallery {
			div.content {
				h1 {
					font-size: 2.5em !important
				}
			}
		}

		section.gallery.nofullscreen {
			height: 250px !important;

			div.content {
				h1 {
					width:100%;
					margin-bottom:0.5em;
				}
				padding-left: $small-value;
			}
		}
		section.text {
			margin-left: 0;
			padding: $small-value;
			width: 100%;
			display: block;
			font-size: 1.8rem;

			h2 {font-size: 3.5rem;margin-bottom: 0;} 
		}
	}
}
